%h1
  Bulk Upload

= form_for Images::Image.new, html: {id: :fileupload} do |f|
  <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
  .row.fileupload-buttonbar
    .span7
      <!-- The fileinput-button span is used to style the file input field as button -->
      %span.btn.btn-success.fileinput-button
        %i.icon-plus.icon-white
        %span Add files...
        <input id="image_file" name="image[file]" type="file" multiple>

      - if params[:tag]
        %h3
          automatically tagging these images with
          = surround '"' do
            = params[:tag]
        = f.hidden_field :tag_list, value: params[:tag]

    .span5
      <!-- The global progress bar -->
      .progress.progress-success.progress-striped.active.fade
        .bar{style: "width:0%;"}

  <!-- The loading indicator is shown during image processing -->
  .fileupload-loading

  %br

  <!-- The table listing the files available for upload/download -->
  %table.table.table-striped
    %tbody.files{'data-toggle' => "modal-gallery", 'data-target'=>"#modal-gallery"}


<!-- modal-gallery is the modal dialog used for the image gallery -->
#modal-gallery.modal.modal-gallery.hide.fade{'data-filter'=>":odd"}
  .modal-header
    %a.close{'data-dismiss'=>"modal"} ×
    %h3.modal-title

  .modal-body
    .modal-image
  .modal-footer
    %a.btn.modal-download{target: "_blank"}
      %i.icon-download
      %span Download

    %a.btn.btn-success.modal-play.modal-slideshow{'data-slideshow' => "5000"}
      %i.icon-play.icon-white
      %span Slideshow

    %a.btn.btn-info.modal-prev
      %i.icon-arrow-left.icon-white
      %span Previous

    %a.btn.btn-primary.modal-next
      %span Next
      %i.icon-arrow-right.icon-white



-# :javascript
-#   var fileUploadErrors = {
-#     maxFileSize: 'File is too big',
-#     minFileSize: 'File is too small',
-#     acceptFileTypes: 'Filetype not allowed',
-#     maxNumberOfFiles: 'Max number of files exceeded',
-#     uploadedBytes: 'Uploaded bytes exceed file size',
-#     emptyResult: 'Empty file upload result'
-#   };


<script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>

<!-- The template to display files available for upload -->
%script#template-upload{type: "text/x-tmpl"}
  :plain
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td class="preview"><span class="fade"></span></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            {% if (file.error) { %}
                <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
            {% } else if (o.files.valid && !i) { %}
                <td>
                    <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
                </td>
                <td class="start">{% if (!o.options.autoUpload) { %}
                    <button class="btn btn-primary">
                        <i class="icon-upload icon-white"></i>
                        <span>{%=locale.fileupload.start%}</span>
                    </button>
                {% } %}</td>
            {% } else { %}
                <td colspan="2"></td>
            {% } %}
            <td class="cancel">{% if (!i) { %}
                <button class="btn btn-warning">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>{%=locale.fileupload.cancel%}</span>
                </button>
            {% } %}</td>
        </tr>
    {% } %}

<!-- The template to display files available for download -->
%script#template-download{type: "text/x-tmpl"}
  :plain
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
            {% if (file.error) { %}
                <td></td>
                <td class="name"><span>{%=file.name%}</span></td>
                <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
                <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
            {% } else { %}
                <td class="preview">{% if (file.thumbnail_url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
                {% } %}</td>
                <td class="name">
                    <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
                </td>
                <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
                <td colspan="2"></td>
            {% } %}
            <td class="delete">
                <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                    <i class="icon-trash icon-white"></i>
                    <span>{%=locale.fileupload.destroy%}</span>
                </button>
                <input type="checkbox" name="delete" value="1">
            </td>
        </tr>
    {% } %}

